@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --primary: #06b6d4;
  --hover: #0e7490;
  --secondary: #efb428;
  --background: #e1e9f0;
  --white: #fff;
}
img {
  display: inline;
}
h1 {
  color: var(--white);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 5fr;
  background-color: var(--background);
}

aside {
  padding: 1rem;
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.dashboard-title{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dashboard-title > img{
  width: 40px;
}

li a {
  font-weight: bold;
  color: var(--white);
  display: flex; 
  gap: 1rem;
  align-items: center;
}
.dash-functionalities, .dash-extras{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

a:hover{
  background-color: var(--hover);
  border-radius: 10px;
}




header {
  grid-column: 2/3;
  background-color: var(--white);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.search{
  display: flex;

  justify-content: space-between;
}
.search-form{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.search-button > img{
  width: 90%;
  height: auto;
}
.search > form > .search-button{
  border: none; 
  background-color: var(--white); 
  border-radius: 10px; 
}

.search > form > .search-input{
  background-color: var(--background); 
  border: none; 
  border-radius: 10px; 
  width: 30rem;
  height: 1.5rem;
}
.notification{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: row;
}
.notification > .user-photo{
  width: 30px;
  height: 30px;
}
.user-photo{
  width: 45px;
  height: 45px;
}
.user-name {
  font-weight: bold;
}


.functionality{
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.user-data{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.user-data > .user-username{
  font-weight: bold;
}
.user-username > .greeting{
  font-size: small;
}


.functionality > .buttons{
  display: flex;
  align-items: end;
  gap: 1rem;
}

.functionality > .buttons > button{
  border-radius: 20px;
  height: 2rem;
  width: 5rem;
  color: var(--white);
  font-weight: bold;
  background-color: var(--primary);
  border: none;
}









main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.section-projects {
  padding: 1rem;
  grid-row: 1/3;
}
.section-header {
  font-weight: bolder;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  /* overflow-y: auto; */
  /* resize: vertical; */
}
.item {
  background-color: var(--white);
  padding: 1rem;
  border-left: 5px solid var(--secondary);
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  display: grid;
}

.item > .item-actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;
  justify-content: end;
}
.item > .item-title {
  font-weight: bold;
  margin-bottom: 5px;
}
.item > .item-content {
  font-size: small;
  font-weight: 300;
}
.section-announcements,
.section-trending {
  padding: 1rem 1rem 0.5rem 0;
}
.announcements {
  display: grid;
  padding: 0 1.5rem 0  1.5rem;
  margin-top: 1rem;
  background-color: var(--white);
  border-radius: 8px;
}
.item-announc:nth-child(1),
.item-announc:nth-child(2) {
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.item-announc:nth-child(3) {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.item-announc > .item-title {
  font-size: small;
  font-weight: bold;
  margin-bottom: 5px;
}
.item-announc > .item-content {
  font-size: x-small;
  font-weight: 300;
}
.trending {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--white);
  border-radius: 8px;
}
.trending > .item-trend {
  display: flex;
  gap: 0.5rem;
  /* grid-template-columns: 1fr 1fr; */
}
.trend-user-info> .item-title {
  font-size: small;
  font-weight: normal;
  margin-bottom: 3px;
}
.trend-user-info > .item-content {
  font-size: x-small;
  font-weight: 300;
}
.trending > .item-trend > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}
